.aboutWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 100vh;
  margin-top: 56px;

  .about {
    display: flex;
    flex-direction: column;
    gap: 72px;
    height: 100%;
    margin-top: 64px;

    &__description {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: left;

      h2 {
        font-size: 5.5vmax;
        font-weight: 500;
      }
      .intro {
        font-size: 1.8vh;
        max-width: 600px;
      }
    }
    .aboutTxt {
      font-size: 2vh;
      line-height: 1.5;
      font-weight: 200;
    }
    &__skills {
      text-align: left;
    }
  }
}
