.homeWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: auto;
  height: 100vh;

  .home {
    &__description {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: left;

      .name {
        h2 {
          font-size: 5.5vmax;
          font-weight: 500;
        }
      }
      .intro {
        font-size: 1.8vh;
        max-width: 600px;
      }
    }
  }
}
